@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: 'Faustina';
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    src: url('/Faustina-Regular.woff2') format('woff2');
}

@font-face{
    font-family: 'Faustina';
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
    src: url('/Faustina-Italic.woff2') format('woff2');
}
@font-face{
    font-family: 'Faustina';
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    src: url('/Faustina-Semibold.woff2') format('woff2');
}
@font-face{
    font-family: 'Faustina';
    font-weight: bold;
    font-style: italic;
    font-stretch: normal;
    src: url('/Faustina-SemiboldItalic.woff2') format('woff2');
}
